*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;   
}
body{
    background-color: rgb(30, 30, 30);
    
    font-family: Arial, Helvetica, sans-serif;

    background-image: url("https://i.pinimg.com/originals/64/cf/cd/64cfcd6e57bf261a2981a97b90d0e8cd.jpg");

    background-repeat: no-repeat;
    
    background-size: 100%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.7s;
    padding: 10px 10px;
    z-index: 10;
    background-color: #04faee;

}
header img{
    width: 200px;
    padding: 0;
    margin: 0;
}

header.abajo{
    background: black;
    padding: 15px 20px;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
}
header ul li a{
    position: relative;
    font-family: helvetica;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 0.7s;

}

header.abajo .logo,
header.abajo ul li a{
    color: #fff;
}




